.bat {
	position: relative;
	border: solid black 3px;
	border-radius: 45%;
	transform: rotate(20deg);
	height: 300px;
	width: 300px;
	left: 250px;
	top: 100px;
}

.handle {
	position: relative;
	border: solid black 3px;
	height: 150px;
	width: 50px;
	left: 120px;
	top: 270px;
}