

#diagram {
	position: relative;
	
}
.l1 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 130px;
}

.l2 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 425px;
}

.l3 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 840px;
}

.l4 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 1130px;
}

.l5 {
	position: absolute;
	width: 299px;
	height: 4px;
	background-color: black;
	left: 130px;
	top: 40px;
}

.l6 {
	position: absolute;
	width: 294px;
	height: 4px;
	background-color: black;
	left: 840px;
	top: 40px;
}

.l7 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 275px;
	top: 40px;
}

.l8 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 987px;
	top: 40px;
}

#b1box {
	position: absolute;
	
	left: 200px;
	top: 80px;
	height: 40px;
    width: 160px;
    border: solid grey 1px;
}

#b2box {
	position: absolute;
	left: 900px;
	top: 80px;
	height: 40px;
    width: 160px;
    border: solid grey 1px;
}

.l9 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 275px;
	top: 122px;
}

.l10 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 987px;
	top: 122px;
}

.l11 {
	position: absolute;
	width: 716px;
	height: 4px;
	background-color: black;
	left: 275px;
	top: 162px;
}

.l12 {
	position: absolute;
	width: 4px;
	height: 40px;
	background-color: black;
	left: 633px;
	top: 166px;
}

#b3box {
	position: absolute;
	left: 475px;
	top: 205px;
	height: 80px;
    width: 320px;
    border: solid grey 1px;
    margin-bottom: 20px;
}



#b1, #b2 {
	text-align: center;
}




#b3 {
	padding-left: 80px;
	margin: 0px;
}





