body {
	display: grid;
	grid-template-columns: 50% 50%;
}

header {
	grid-area: 1 / 1 / 3 / 3;
	height: 600px;
}



h1 {
	text-align: center;
	font-size: 50px;
	margin-top: 300px;
	
}

h2 {
	text-align: center;
	font-size: 50px;

}

.input {
	text-align: center;

}

input {
	height: 30px;
	width: 350px;
}

#button {
	height: 30px;
}

#randomButton {
	grid-area: 3/2/4/3;
	height: 60px;
	width: 200px;
	justify-self: start;
	margin-top: 100px;

}

#list {
	grid-area: 3/1/4/2;
}

.teamone {
	grid-area: 4/1/5/2;
	text-align: center;
}

.teamtwo {
	grid-area: 4/2/5/3;
	text-align: center;
}