@media only screen and (min-device-width: 375px) 
  and (max-device-width: 667px) {
  	.instructions {
  		font-size: 12px;
  		margin: 1%;
  	}

  	footer {
  		margin-top: 0px;
  	}

  	#randomButton {
		height: 20%;
	    width: 30%;
	    margin-top: 20px;
	    margin-right: 10%;
	    margin-left: 10%;
	}

	#resetButton {
		height: 20%;
    	width: 30%;
    	margin-top: 20px;
    	margin-left: 0;
    }
    
    .rbuttons {
		grid-area: 2/1/3/3;
		align-items: start;
		position: relative;
		margin-top: 50%;
	}

	#button {
	    border-radius: 5%;
	    font-size: 10px;
	    width: 30%;
	    height: 5%;
	    background-color: $blue;
	    color: white;
	}

	.bat {
		display: none;
	}

	#list {
		grid-area: 2/1/3/3;
		margin-top: 30%;
		margin-left: 30%;
		width: 25%;
		height: auto;
		margin-bottom: 0px;
	}

	#clickInstructions {
		grid-area: 2/1/3/3;
		font-size: 15px;
  		margin-left: 5%;
  		margin-right: 5%;
  		margin-top: 80%;
	}

	.teamone {
		grid-area: 4/1/5/2;
		margin-left: 0px;

	
	}

	.teamtwo {
		grid-area: 5/1/6/2;
		margin: 0px;
	
	}

	h1 {
		font-size: 20px;
		margin-bottom: 10px;
		top: 20%;
    	left: 50%;
	}

	h2 {
		font-size: 15px;
		top: 50%;
    	left: 50%;
	}

	input {
		height: 1%;
		width: 50%;
	}

	li {
		font-size: 15px;
	}
	#diagram {
		position: relative;
	
	}

	.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8  {
		display: none;
	}



	#b1box {
		position: absolute;
		left: 140px;
		top: 120px;
		height: 40px;
	    width: 160px;
	    border: solid grey 1px;
	}

	#b2box {
		position: absolute;
		left: 140px;
		top: 380px;
		height: 40px;
    	width: 160px;
    	border: solid grey 1px;
	}

	.l9 {
		display: none;
	}

	.l10 {
		display: none;
	}

	.l11 {
		display: none;
	}

	.l12 {
		display: none;
	}

	#b3box {
		position: absolute;
		left: 180px;
		top: 230px;
		height: 60px;
	    width: 180px;
	    border: solid grey 1px;
	    margin-bottom: 20px;
	}



	#b1 {
		text-align: center;
	}

	#b2 {
		text-align: center;
	}


	#b3 {
		padding-left: 20px;
		margin: 0px;
	}
	









}