@media only screen and (min-device-width: 375px) 
  and (max-device-width: 667px) {

	body {
		display: grid;
		grid-template-columns: 50% 50%;
			
		
		
	}

	header {
		grid-area: 1 / 1 / 2 / 3;
		height: 600px;
		position: relative;
		margin: 0px;
		
	}


	h1 {
		grid-area: 1/1/3/3;
		font-size: 50px;
		margin-top: 10px;
    	margin-bottom: 10px;
		
	}

	h2 {
		grid-area: 1/1/3/3;
		font-size: 40px;
		margin-top: 50px;
		
	}

	input {
		width: 250px;
	}

	.input {
		grid-area: 1/1/3/3;
		top: 120px;
		left: 190px;
		
		margin-top: 200px;
		margin-left: 250px;
	}

	#button {
		margin: 20px;
	}

	.instructions {
		grid-area: 2/1/3/3;
		font-size: 12px;
		margin: 0px;
	}

	#clickInstructions {
		grid-area: 3/1/4/3;
		font-size: 12px;
		margin-top: 60px;
		text-align: center;
	}

	.rbuttons {
		grid-area: 3/1/4/3;
		position: relative;
		

	}

	#randomButton {
		
		//position: absolute;
		height: 30px;
	    width: 100px;
	    margin-top: 20px;
	    margin-right: 10px;
	    margin-left: 50px;

	    
	}

	#resetButton {
		
		//position: absolute;
		height: 30px;
    	width: 75px;
    	margin-top: 20px;

    	
	}

	.bat, .handle {
		 display: none;
	}

	#list {
		grid-area: 2/1/3/3;
		border: solid black 2px;
		height: 150px;
		width: 100px;
		margin-top: 60px;
		margin-bottom: 0px;
		margin-left: 120px;
		
	}
////////////////////////the diagram /////////////

	.teamone {
		grid-area: 4/1/5/2;
	
	}

	.teamtwo {
		grid-area: 5/1/6/2;
		margin: 0px;
	
	}

	

	#diagram {
		position: relative;
	
	}
	.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8 {
		display: none;
		
	}

	

	#b1box {
		position: absolute;
		left: 80px;
		top: 97px;
		height: 40px;
	    width: 130px;
	    border: solid black 1px;
	}

	#b2box {
		position: absolute;
		left: 80px;
		top: 315px;
		height: 40px;
	    width: 130px;
	    border: solid black 1px;
	}

	.l9 {
		display: none;
		
	}

	.l10 {
		display: none;
		
	}

	.l11 {
		display: none;
	}

	.l12 {
		display: none;
	}

	#b3box {
		position: absolute;
		left: 180px;
		top: 190px;
		height: 40px;
	    width: 130px;
	    border: solid black 1px;		
		
	}

	#b3 {
		font-size: 18px;
		padding: 0px;
		text-align: center;
		
	}

	



}