

header {
	background-image: url(../images/pingpong.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#list {
	border: solid grey 1px;
	margin-top: 75px;
	margin-left: 150px;
	padding: 50px;
	height: 300px;
	width: 200px;
}

li {
	list-style-type: none;
}

p {
	border: solid grey 1px;
	padding: 10px;
	height: 30px;
	width: 60px;
	}
