/*colour*/
$orange: #f9c270;
//$orange: #f4641f;
$blue: #4074ce;
$lightOrange: #f7f3dc;




header {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

}

video {
    position: inherit;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
    filter: grayscale(100%) opacity(50%);

}
h1, h2, .input {

    position: absolute;
    top: 200px;
    left: 750px;
    text-align: center;
    
    z-index: 9999;
    color: black;
    transform: translate(-50%,-50%);
    margin-top: 30px;
}

h2 {
	margin-top: 125px;
    color: black;

}

h1 {
    color: black;
}

.input {
	margin-top: 230px;

}




////// list of names /////////

#list {
    margin-top: 180px;
    margin-left: 320px;
    margin-bottom: 250px;
}

li {
    list-style-type: none;

}

input {
    border-radius: 5%;
    border: solid #edf0f7 2px;
}

footer {
    margin-top: 500px;
    text-align: center;
}


////// Team positioning /////
.teamone p, .teamtwo p {
    border: solid grey 1px;
    margin-left: 50px;
    margin-top: 40px;
    padding: 10px;
    height: 30px;
    width: 80px;
}

#teamtwoA, #teamtwoB, #teamoneA, #teamoneB {
    margin-right: 70px;
}

///// BUTTONS /////

#button {
    border-radius: 5%;
    font-size: 10px;
    width: 80px;
    height: 35px;

}
#randomButton {
    margin-top: 100px;
    background-color: $blue;
    color: white;
    border-radius: 10%;
    height: 60px;
    width: 200px;

}

#resetButton {
    margin-top: 200px;
    margin-left: 100px;
    background-color: $blue;
    color: white;
    border-radius: 10%;
    height: 60px;
    width: 200px;
}
		
