$blue: #4074ce;

header {
    max-width: 100%;
    overflow: hidden;
    position: relative;

}

video {
    position: inherit;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -1;
    filter: grayscale(100%) opacity(50%);

}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    z-index: 9999;
    color: black;
    transform: translate(-50%,-50%);
    margin-top: 30px;
}

h2 {
	position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    z-index: 9999;
    color: black;
    transform: translate(-50%,-50%);

}

 .input {
 	position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    z-index: 9999;
    color: black;
    transform: translate(-50%,-50%);
    margin-top: 30px;

}

input {
	height: 30px;
	width: 250px;
}


.instructions {
	
	text-align: center;
	
}

.rbuttons {
	
	align-items: start;
}

#button {
    border-radius: 5%;
    font-size: 10px;
    width: 80px;
    height: 35px;
    background-color: $blue;
    color: white;

}

#randomButton {
    margin-top: 100px;
    background-color: $blue;
    color: white;
    border-radius: 10%;
    height: 60px;
    width: 200px;

}

#resetButton {
    margin-top: 200px;
    margin-left: 100px;
    background-color: $blue;
    color: white;
    border-radius: 10%;
    height: 60px;
    width: 200px;
}

.bat {
	position: relative;
	border: solid black 3px;
	border-radius: 45%;
	transform: rotate(20deg);
	height: 300px;
	width: 300px;
	left: 250px;
	top: 100px;

}

.handle {
	position: relative;
	border: solid black 3px;
	height: 150px;
	width: 50px;
	left: 120px;
	top: 270px;
	
}

#list {
	
    margin-top: 25%;
    margin-left: 45%;
    margin-bottom: 250px;
}

li {
    list-style-type: none;

}

#clickInstructions {
	
	align-self: end;
	
}

.teamone p, .teamtwo p {
    border: solid grey 1px;
    margin-left: 40px;
    margin-top: 40px;
    padding: 20px;
    height: 30px;
    width: 50px;
}

#teamoneA, #teamoneB {
	float: left;
	width: 30%;
}

#teamtwoA, #teamtwoB {
	float: left;
	width: 30%;
}

footer {
    margin-top: 500px;
    text-align: center;
    color: white;
    background-color: $blue;
}