


li {
	font-size: 20px;
	line-height: 1.6;
}

h1, h2 {
	font-family: 'Cookie', cursive;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 80px;
}

input {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;

}

footer p {
	font-family: 'Dosis', sans-serif;
}

.instructions {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
}

#clickInstructions {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
}

#button {
	font-family: 'Dosis', sans-serif;
	font-style: italic;
	font-size: 15px;
}

#randomButton {
	font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-style: italic;
}

#resetButton {
	font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-style: italic;
}

#b3 {
	font-family: 'Cookie', cursive;
	font-size: 50px;
}