


li {
	font-size: 20px;
}

h1, h2 {
	font-family: 'Cookie', cursive;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 80px;
}

.instructions {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
}

#randomButton {
    font-size: 20px;
    font-style: italic;
}

#resetButton {
    font-size: 20px;
    font-style: italic;
}